{% extends 'base_teste_charts.html' %}


{% block jquery %}
var endpoint = '/weight/api/chart/data/' // {% url "api-data" %}
var labels = [];
var weight = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
            labels = data.weight
            weight = data.date
            setChart()
    },
    error: function(error_data){
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("productsChart");
    var productsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: weight,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}


{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-sm-6'>
        <h1>Hello World</h1>
        <canvas id="productsChart" width="10" height="10"></canvas>
    </div>
</div>

{% endblock content %}